{{ define "index" }}
<!DOCTYPE html>
<html lang="es" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVAS AL PALO!</title>
    <script src="./js/theme.js"></script>

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="/js/index.js" defer></script>
    <script src="/js/modal.js" defer></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
</head>

<body class="body">
    {{template "header" . }}
    <main>
        <a id="message-warn" class="message-warn display-none" href="#"></a>
        <ol id="daylist" class="auto-items daylist"></ol>
    </main>
    
</body>

</html>
{{ end }}